<!-- Fixed navbar -->
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="main">VX</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="main">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
				<li *ngIf="isLoggedIn()"><a (click)="logout()">Logout</a></li>
			</ul>
    </div>
  </div>
</nav>
<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <h1>VXGroup</h1>
        <p>Portal aktuelnih vesti</p>
      </div>
    <router-outlet></router-outlet>
</div>  
