<div class="container">
  <div class="row">
    <div class="col-md-8">
     <form (submit)="filter()" class="form form-inline">
  Kategorija:
      <select name="category" [(ngModel)]="filterData.categoryId" class="form-control">
     <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
  </select>
  Naslov:
    <input name="title" [(ngModel)]="filterData.title" type="text" class="form-control"/>
    <input type="submit" value="filter" class="btn btn-primary"/>
    </form>
    
    
    
    </div>
  </div>

  <div class="pages"> 
      <button *ngIf="currentPage>0" (click)="changePage(-1)" class="btn"></button>
    {{currentPage}}
       <button *ngIf="currentPage <totalPages-1" (click)="changePage(1)" class="btn"></button>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="{{getTableClass()}}">
        <table class="table table-striped">
          <thead>
           <tr> 
           <th scope="col">#</th> 
           <th scope="col">Naslov</th>
           <th scope="col">Kategorija</th>
           <th scope="col">Opis</th>
           <th scope="col">Akcija</th>
           </tr>
          </thead>
          <tbody *ngFor="let n of news">
            <tr>
            <th scope="row">{{n.id}}</th> 
            <td>{{n.title}}</td>
            <td>{{n.category.name}}</td>
            <td>{{n.description}}</td>
            <td> <a class="btn btn-primary" href="news/{{n.id}}">Detalji</a>
              <a *ngIf="isLoggedIn()" class="btn btn-danger" (click)="delete(n.id)">Obriši</a>
              <a *ngIf="isLoggedIn()" class="btn btn-primary" (click)="edit(n)">Izmeni</a>
            </td>
            </tr>
          </tbody>   
        </table>      
      </div>
      <div class="col-md-4">
      <form  (submit)="save()" class="form">
        <div class="form-group">
        Naslov:<input [(ngModel)]= "newsToAdd.title" class="form-control" type="text" name="title" />
        </div>
        <div class="form-group">
        Kategorija:<select name="category" [(ngModel)]="newsToAdd.category" class="form-control">
                      <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
                  </select>
        </div>
        <div class="form-group">
        Opis:<input [(ngModel)]="newsToAdd.description" class="form-control" type="text" name="description" />  
        </div>
        <div class="form-group">
        Sadrzaj:<input [(ngModel)]="newsToAdd.content" class="form-control" type="text" name="content" />
        </div>
        <div class="form-group">
          <input class="btn btn-primary" type="submit" value="save"/>
          <button (click)="reset()">reset</button>
        </div>
      </form>
    </div>   
  </div>
</div>    
   
      
  

